body {
	background-color:#000000;
	background-repeat:no-repeat;
	background-position:top left;
	background-attachment:fixed;
	}

h1{
	text-align:center;
	font-family:Helvetica, sans-serif;
	font-variant:small-caps;
	color:#ffffff;
	background-color:#000000;
	}

h2{
	font-size: 40px;
	text-align:center;
	font-family:Helvetica, sans-serif;
	font-variant:small-caps;
	color:#ffffff;
	background-color:#000000;
	}
	
h3, h4{
	text-align:center;
	font-family:Helvetica, sans-serif;
	font-variant:small-caps;
	color:#ffffff;
	background-color:#000000;
	}
			
p {text-align:left;
	font-family:Verdana, sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
	color:#ffffff;
	}
	
#hp  {
	float: right;    
	margin: 0 0 0 15px;
}

img	{
	float: right;
	color:#ffffff;
	text-align:center;
}

table	{
	float: right;
	color:#ffffff;
	border: 1px solid white;
}

th, tr, h5{
	color:#ffffff;
}

div	{
	text-align: center;
	color: #ffffff
}

footer {
	color: #ffffff;
	font-size: 12px;
	text-align:center;
	font-family:Arial, sans-serif;
}

a:link {
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #00FFFF;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}